.navcontainer{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    height: 72px;
    background-color: #0a438b;
    color:white;
    align-items: center;
}
.iconbox{
    display: flex;
    gap:20px;
}
.navlinks{
    display: flex;
    gap:20px;
}

.imageformbox{
    width: 100%;
    height: 485px;
    background-image: url('https://media.cnn.com/api/v1/images/stellar/prod/230224144031-07-best-beaches-world-tripadvisor-2023-radhanagar-beach.jpg?c=original&q=h_618,c_fill');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    padding: 30px;
}

.smallslider2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px;
    width: 90%;
    margin: auto;
    margin-top: 70px;
}
.smallslider1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    width: 90%;
    margin: auto;
    margin-top: 100px;
}
.smallslider1>div>div>img,.smallslider2>div>div>img{
    height: auto;
    width: 100%;
    border-radius: 10px;
}
.smallslider1>div,.smallslider2>div{
    position: relative;
    
}
.smallslider1>div>h3{
    position: absolute;
    top: 50%;
    left: 2%;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgb(17 21 26 / 80%);
}
.smallslider2>div>h3{
    position: absolute;
    top: 68%;
    left: 2%;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgb(17 21 26 / 80%);
}
.smallslider1>div>p{
    font-size: 13px;
    color: grey;
}
.bigslidebox{
    display: grid;
    grid-template-columns: 49% 49%;
    width: 90%;
    margin: auto;
    
    justify-content: space-between;
    margin-top: 40px;
    gap:20px;
}
.bigslide1{
    height: 255.5px;
    width: auto;
    box-sizing: border-box;
    background : rgba(0,0,0,0.7)  url("https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_AllInclusive_imgB_1199x399_20211104.jpg");
    border-radius: 15px;
    background-size: 100% 100%;
    background-blend-mode: darken;
    padding-top: 5%;
    padding-left: 5%;
    color:white;
}
.bigslide2{
    height: 255.5px;
    width: auto;
    box-sizing: border-box;
    background: rgba(0,0,0,0.5) url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_LastMinute_imgB_1199x399_20211104.jpg');
    border-radius: 15px;
    background-size: 100% 100%;
    background-blend-mode: darken;
    padding-top: 5%;
    padding-left: 5%;
    color:white;
}
.bigslide1>button,.bigslide2>button{
    background-color: white;
    color: #0a438b;
    border-radius: 10px;
    padding: 2%;
    border: none;
    font-weight: 600;
}

.featurebox{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 73% 25%;
    grid-template-rows: 306px;
    gap:10px;
    width: 90%;
    margin: auto;
    justify-content: space-between;

}
.featureinner1{
    background: url('https://forever.travel-assets.com/flex/flexmanager/images/2021/11/08/TVLY_Storefront_Family_imgB_1200x674_20211104.jpg');
    background-size:cover;
    
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    padding-left: 8px;
    color: #FFFFFF;
    text-shadow: 0px 1px 2px rgb(17 21 26 / 80%);
}

.featureinner2>img{
 width: 100%;
 height: 100%;
}
.video{
   width: 90%;
   padding-top:60px ;
   margin: auto;
}
.video>iframe{
    width: 100%;
    border-radius: 10px;
}
.belowvideo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:13px;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}
.belowvideo>div{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.scannerbox{
    display: grid;
    grid-template-columns: 35% 45% 15%;
    border: 1px solid grey;
    width: 90%;
    margin: auto;
    gap:30px;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 10px;
}
.scannerbox>div>img{
    width: 100%;
    height: auto;
    border-radius: 7px;
}
.scannerinput>input{
    padding: 10px 10px;
    border-radius: 8px; 
    margin-right: 13px;  
}
.scannerinput>button{
    height: 60%;
    padding: 9px 18px;
    border-radius: 10px;  
    background-color: #0a438b;
    color: #FFFFFF;
    border: none;
}.scannerbox>div>p{
    font-size: 12px;
}
.scannerbox>div>ul>li{
    font-size: 14px;
    margin-left: -10px;
    color:grey;
}

.desbox{
    width: 90%;
    margin: 30px auto;
}
.desbox>div:first-child{
    text-align: center;
}
.destination{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:30px;

}
.destination>div>div{
    margin: 10px;
}
.footer{
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    gap:80px;
    width: 90%;
    margin: auto;
    border-bottom: 2px solid grey;
    box-sizing: border-box;
}
.footer>div>img{
    margin-top: 20px;
}
.footer>div>p{
    color: #0a438b;

}
.footer>div>p:hover{
    text-decoration: underline;
}


.formbox{
    background-color: white;
    border-radius: 70px;
    width: 80%;
    height: 330px;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 50px;
}


.upperform{
    display:grid;
    gap:20px;
    width:100%;
    grid-template-columns: 45% 25% 25%;
    justify-content: space-around;
   
}
.inputbox1{
    border:1px solid grey;
    border-radius: 8px;
    display: flex;
    gap:13px;
    align-items: center;
}
.inputbox1:hover,.datebox1:hover{
 border:1px solid #0a438b;
}
.inputbox1>input{
    width: 60%;
    height: 96%;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 700;
}
.datebox1{
    border:1px solid grey;
    border-radius: 8px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    box-sizing: border-box;
}
.datebox1>input{
    /* padding: 15px; */
    font-family: monospace;
    font-size: 18px;
    border: none;
    outline:none;border-radius: 5px;
}

::-webkit-calendar-picker-indicator{
    cursor: pointer;
    border-radius: 3px;
}

.lowerform{
    display: grid;
    grid-template-columns: 45% 40%;
    width:100%;
    justify-content: space-between;
    margin-top: 15px;
}

.submitform{
    text-align: center;
    margin-top: 40px;
}
.submitform>input{
    color:White;
    border:none;
    background-color: #0a438b;
    border-radius: 8px;
    padding: 1.3% 5%;
    font-weight: 600;
    font-size: 17px;
}